@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-exo;
  font-optical-sizing: auto;
  font-weight: 500; /* Replace with the desired font weight */
  font-style: normal;
  background: linear-gradient(to right, #f8ecec, #e3e3ca);
}
